---
import Layout from '../layouts/Layout.astro';
import UniversityCard from '~/components/UniversityCard.astro';
import UniversitySearch from '~/components/UniversitySearch.astro';
import { supabaseServer } from '../lib/supabase';

const { data, error } = await supabaseServer
  .from('university_stats')
  .select('id, name, slug, professor_count, review_count, avg_rating, department_count')
  .order('review_count', { ascending: false });

if (error) {
    console.error('Error de Supabase:', error.message);
}

const universities = data || [];
---

<Layout>
    <div class="min-h-screen w-full bg-linear-to-br">
        {/*Main Content*/}
        <main class="w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
            {/*Title*/}
            <div class="text-center mb-12">
                <h2 class="text-4xl font-bold text-gray-900 mb-3">
                    Selecciona Tu Universidad
                </h2>
                <p class="text-lg text-gray-600">
                    Escoge tu universidad para ver los profesores calificados.
                </p>
            </div>
            {/*Search Bar*/}
            <UniversitySearch />

            {/*College Cards Grid*/}
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 max-w-5xl mx-auto">
            {universities.map((uni: any) => (
                <UniversityCard 
                    name={uni.name}
                    slug={uni.slug}
                    location="" 
                    avgRating={uni.avg_rating}         
                    professorCount={uni.professor_count}    
                    reviewCount={uni.review_count}       
                    departmentCount={uni.department_count}     
                />
            ))}
            </div>
        </main>
    </div>
</Layout>